Support of RFC 9110 "new" statuses

`RFC 9110`[^rfc9110] was published in June 2022.
[^rfc9110]: [RFC-9110 HTTP Semantics](https://datatracker.ietf.org/doc/html/rfc9110)

> Abstract
> 
>    The Hypertext Transfer Protocol (HTTP) is a stateless application-
>    level protocol for distributed, collaborative, hypertext information
>    systems.  This document describes the overall architecture of HTTP,
>    establishes common terminology, and defines aspects of the protocol
>    that are shared by all versions.  In this definition are core
>    protocol elements, extensibility mechanisms, and the "http" and
>    "https" Uniform Resource Identifier (URI) schemes.
> 
>    This document updates RFC 3864 and obsoletes RFCs 2818, 7231, 7232,
>    7233, 7235, 7538, 7615, 7694, and portions of 7230.

NB. JAX-RS seems to implement `RFC-2616`[^rfc2616], which was already obsoleted by `RFC-7231`[^rfc7231] (see #1052)

[^rfc2616]: [RFC-2616 Hypertext Transfer Protocol -- HTTP/1.1](https://datatracker.ietf.org/doc/html/rfc2616)
[^rfc7231]: [RFC-7231 Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content](https://datatracker.ietf.org/doc/html/rfc7231)

`IANA` indicates also that HTTP Statuses code should follow RFC 9110  [Hypertext Transfer Protocol (HTTP) Status Code Registry](https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml).

Some statuses some statuses from WebDAV's `RFC-4918`[^rfc4918] (see #679), but not all, were standardized by `RFC-9110`[^rfc9110] including
- 421 Misdirected Request
- 422 Unprocessable Content

[^rfc4918]: [RFC-4918 HTTP Extensions for Web Distributed Authoring and Versioning (WebDAV): Semantics and Content](https://datatracker.ietf.org/doc/html/rfc4918)

Could you declare all of `RFC-9110` HTTP statuses in `Response.Status`

My comments are slightly OT because they cover this issue, bot are not limited to it. But I think it is essential to discuss the broader topic.

When I became part of the expert group of JAX-RS some day in the 1.x-age, we originally only included core status codes in JAX-RS that we thought are essential or at least commonly useful for REST. I remember this discussion very clearly, as I failed to add WebDAV status code to the spec, so instead I invented an extension interface which eventually was adopted by the spec. The expert group deliberately did not include *all* HTTP status codes, as HTTP can do much more than REST-over-HTTP can do (e. g. HTTP can do MVC, can do RPC, can do WebDAV, etc.), but JAX-RS is explicitly *not* an Everything-HTTP-for-Java API (it is *not* a replacement for Servlets), it is *only and explicitly* REST-over-HTTP-for-Java.

As everything evolves, including everybody's view on JAX-RS and HTTP in general, there is certainly a need to adapt and discuss from time to time. Looking at the frequent request for more status codes, maybe now is the time to discuss *the general vision* of Jakarta REST wrt status codes.

I think we should eventually find a general consent on the question, which status codes do we have in core Jakarta REST, which to have *in "official" extension projects* (hence are officially documented but *optional* to implement), and which we want to have in *third-party* extension libraries (something like "Apache Delta Spike") or custom applications. The idea is that we do not need to discuss this *on a per-issue* base.

**I would love to start this general discussion to have a consent *before* we discuss single issues and herebly like to explicitly invite to this @spericas as the Jakarta REST spec lead, @ivargrimstad and @chkal as the Jakarta MVC spec leads, @jansupol for Oracle, @andymc12 for IBM, @jamezp for Red Hat, @arjantijms as a long-term contributor and certainly everybody else reading this posting.**

To start with, my general opinion is that Jakarta REST should keep being limited to the essential status codes, but we should start a third-party project that provides "official" extensions, covering the mentioned RFCs wherever not covered by the REST spec itself. For everything else, third parties and custom parties can chime in. But this is only my personal opinion and certainly biased by being part of the EG since the early JAX-RS days, so I do respect and understand if others chime in and share an opposit view. :-)

Just FYI - I don't work for IBM any more - I believe @jim-krueger has taken over my role from IBM.  I still have a somewhat personal interest in this project, but my current employer is not a Jakarta sponsor afaik.  Thanks, Andy

@andymc12 Thank you for the status update. Your comments are still appreciated! :-)

@mkarg Thanks a lot for starting this discussion.

I agree especially to these statements:

> As everything evolves, including everybody's view on JAX-RS and HTTP in general, there is certainly a need to adapt nd discuss from time to time.

> I think we should eventually find a general consent on the question, which status codes do we have in core Jakarta REST, [...]

One thing that is IMO very important to discuss in this context is this:

> JAX-RS is explicitly _not_ an Everything-HTTP-for-Java API (it is _not_ a replacement for Servlets)

My 2 cents: Although this was the initial core idea of JAX-RS, I'm not sure if this is still true today. Many developers seem to see JAX-RS as "the modern replacement for Servlets". Microprofile for example requires JAX-RS, but not Servlet.

But back to the original question about what status codes we should support. I would prefer to support status codes out of the box, which are defined in the official [Hypertext Transfer Protocol (HTTP) Status Code Registry](https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml) as defined by [RFC 9110](https://datatracker.ietf.org/doc/html/rfc9110). There may be status codes which are actually for WebDAV (like 421 and 422), but as they are defined by RFC-9110, that would be absolute file from my point of view.

Happy to hear other thoughts about this topic.

> > JAX-RS is explicitly _not_ an Everything-HTTP-for-Java API (it is _not_ a replacement for Servlets)
>
> My 2 cents: Although this was the initial core idea of JAX-RS, I'm not sure if this is still true today. Many developers seem to see JAX-RS as "the modern replacement for Servlets". Microprofile for example requires JAX-RS, but not Servlet.

I share your recognition that some programmers *use* JAX-RS as a Servlet replacement, nevertheless, as per the actual wording of the spec, still Jakarta REST *"is"* a REST API, but *"is*" not a HTTP API. I wouldn't get so far to say that it is mis-use, but *being suitable* for something does not *make it* that something. To replace Servlet, much more is needed, as Sevlet is not even limited to HTTP.

I think the correct way to deal with the fact that some programmers like to have a JAX-RS based Servlet replacement while others want to keep Jakarta REST "clean" would be to split the spec into two parts (just as we did years ago with MVC): The basic level on one hand (the stuff related to HTTP), and on the other hand the particular REST-only stuff building ontop of it. Anyways, I would prefer to discuss that in a separate issue to not mix things unnecessarily.

I just want to give a +1 to agreeing that using the standard RFC 9110 status codes make sense to me.

I just want to add some motivation for implementing this, merly from a usage perspective. Nowadays GenAI is omnipresent. Many AI API's APIs make extensive use of the new status codes, for example using Python FastAPI where with with pydantic status code 422 often appears.

So: Usage of new status codes grows, especially with completely new API as for example in the field of AI. This makes this library look really outdated.

At the moment having responses of status code 200 where actually the API returned a 422 is a really bad developer and user experience. Maybe at least it could be considered mapping all unkown 4XX into a 400, so at least we know something went wrong?